*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
body {
    background: #fff;
    margin:5px;
}

.wrapper {
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px ;
    background: url('https://i.pinimg.com/236x/8f/ba/cb/8fbacbd464e996966eb9d4a6b7a9c21e--sultan.jpg');
}

.top {
    background: #3e6457;
    display: table;
    width: 100%;
    text-align: center;
    height: 40px;
    border-radius: 15px 15px 0 0;
    border-collapse: collapse
}

.top p {
    display: table-cell;
    cursor: pointer;
    border: 0px solid #eee
}

#his {
    border-radius: 15px 0 0 0;
}
#his:hover , #onl:hover {
    box-shadow: 0 0 3px 3px rgb(172, 207, 174);
}
#onl {
    border-radius: 0 15px 0 0;
}

.header p:last-child {
    border: none
}

.h1 {
    display: table;
    background: rgba(18, 170, 99, 0.664);
    margin: 0px auto;
    padding: 5px;
    text-align: center;
    color: #fff;
    border-radius: 0 0 12px 12px ;
    width: 100%;
    height: 45px ;
}

.h1 span {
    display: table-cell;
    vertical-align: middle
}

.out {
    display: none;
    position: absolute;
    top:90px;
    left: 0;
    bottom: 0;
    right: 0
}

#on {
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 2px;
    right: 0;
    overflow-y: auto
}

#on p {
    border-bottom: 1px solid rgb(155, 236, 182);
    font-family: Tahoma;
    position: relative;
    cursor: pointer;
    height: 34px
}

.m {
    width: 90%;
    color: rgb(23, 54, 100);
    background: rgb(44 ,112, 214,0.3);
    margin:0 auto 5px auto ;
    border-radius: 15px;
    font-size: large;
    font-weight: bold;

}

.f {
    width: 90%;
    color: rgb(165, 55, 78);
    margin:0 auto 5px auto  ;
    border-radius: 15px;
    font-size: large;
    font-weight: bold;
    background: rgb(206, 55, 78,0.3);
}

#on img {
    position: absolute;
    left: 5px;
    margin-top: 5px
}

#on p b {
    position: absolute;
    right: 54px;
    font-size: 16px;
    font-weight: normal;
    top: 5px
}

#on p span {
    position: absolute;
    right: 3px;
    font-size: 16px;
    border: 1px solid;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    top: 4px
}

#on p i {
    position: absolute;
    right: 28px;
    font-style: normal;
    font-size: 10px;
    margin: 0 3px;
    top: 2px
}

#on u {
    position: absolute;
    bottom: 2px;
    left: 4px;
    text-decoration: none;
    color: lightsteelblue;
    font-size: 12px
}

#wel p {
    text-align: center;
    margin: 5px auto;
    display: table;
    padding: 2px 4px
}

.tab {
    margin: 1px;
    border-bottom: 1px solid #494949;
    background: rgb(103, 158, 90);
    position: relative;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    padding-left: 25px;
}

.tab i {
    font: normal 18px 'Segoe UI';
    color: #030a0f;
    margin: 4px;
    margin: 4px;
}

.x {
    width: 25px;
    height: 25px;
    right: 5px;
    position: absolute;
    border:1px solid green;
    padding: 2px;
}

.conv {
    background: url('https://qph.fs.quoracdn.net/main-qimg-8b585fb4a5c9fedbb899cfb0cf0331a7');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 85px;
    left: 0;
    bottom: 50px;
    right: 0;
    margin: 5px auto;
    padding: 10px;
    border: 2px solid rgb(18, 100, 80);
    overflow-y: auto
}
.conv div{
    display: block;
    margin: 3px auto;
    width: 100%;
}
.conv .me-div{
    text-align: right;
}
.conv p {
    display: inline-block;
    margin: 3px;
    font-weight: bold;
    background: #085c4aaf;
    color: floralwhite;
    border-radius:0 15px 0 15px;
    padding: 7px;
    border: 2px solid #3e6457;  
}

.conv p.me {
    text-align: right;
    background: #e9df4f;
    border-radius:15px 0 15px  0;
    color: black;    
}


  .conv div:nth-child(1) {
    width: 45px   ;
  }
.clear {
    position: fixed;
    left: 5px;
    bottom: 75px;
    padding: 7px 7px;
    font-size: larger;
    font-weight: bold;  
    color: wheat;
    background: #35442d;
    border-radius:9px;
    border: 2px solid #595959;
}

.foot {
    display: none;
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    border-radius: 22px;
    margin: 0 auto 5px auto;
    background:#595959;
    border: 1px solid #ddd
}

.foot div {
    display: table-cell;
    width: 100% ;
    background: #273a33;
}

.ta {
    font-size: 18px;
    padding: 1px 50px;
    width: 100%;
    margin: 0;
    height: 45px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border: none;
    direction: rtl;
    background: #3e6457;
    outline: none
}
.ta:hover{
    background: #3e64576e;
}
#snd {
    font-size: 18px;
    height: 44px;
    padding: 10px;
    background: #37a846;
    color: #fff;
    border: 1px solid rgb(39, 87, 37);
}

.textlab{
    background: #58724a;
    width: 100%;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    
}
.textlab:hover{
    background: #074075;
   
    
}
.img-cont{
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 5px;
      flex-direction: column;
      max-width: 270px;
      margin: 0 auto;
      border: 2px solid #393939;
      
}
#img-box{
    max-width: 260px;
}
#frm{
    display: flex;
    padding: 6px;
}
.btn{
    border-radius: 0 10px 10px 0;
    background: dodgerblue;
}

.img-btn{
    background: #37a846;
    border: darkorange;
    padding: 15px;
    font-weight: bold;
}
.img-btn:hover{
    background: darkorange;
}
